.bcv-create_poll_modal-btn_block {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.bcv-create_poll_modal-title {
  font-weight: 900;
  font-size: 35px;
  margin-bottom: 0px;
  background-color: black;
  color: white;
  width: 478px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0px 10px 0px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.4); /* Параметры тени */
}

.bcv-day_picker_input-wrapper {
  width: 100%;
  margin-right: 22px;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 900;
  justify-content: space-between;
  input {
    border: 1px solid black !important;
    width: 112%;
    height: 32px;
    font-size: 20px;
    font-weight: 500;
    font-family: "Chakra Petch", sans-serif !important;
    padding: 0px 10px;
  }
}

.DayPickerInput {
  width: 100%;
  margin-right: 22px;
}
